.container-2 {
  height: 100vh;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 0 10px;
  width: min(100%, 1400px);
  margin: auto;
}

.right-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.img-sec-2 {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-2 {
  flex: 1;
  padding-left: 50px;
}

.left-2 h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
  font-family:'Inter', sans-serif;
  letter-spacing: -0.03em;
  color: rgb(130, 10, 209);
}

.left-2 p {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 0 0 20px 0;
  letter-spacing: -0.03em;
  font-size: 2.5rem;
  line-height: 3rem;
}

@media (max-width: 767px) {
    .container-2 {
      flex-direction: column;
      width: 100vw;
      align-items: center;
      justify-content: center;
      height: auto;
    }

    .right-2 {
      padding-right: 0;
    }

    .img-sec-2 {
      height: auto;
      width: 100%;
    }

    .left-2 {
      padding-left: 0;
    }

    .left-2 p, h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}